default = {
    x         = {relative = 0.5; offset = 0;};
    y         = {relative = 0.8625; offset = 0;};
    length    = {relative = 0.3; offset = 0;};
    thickness = 12;
    outline   = 0;
    border    = 0;
    padding   = 0;
    orientation = "horizontal";

    overflow = "proportional";

    color = {
        normal = {
            fg     = "#cccccc";
            bg     = "#2d2d2d";
            border = "#393939";
        };
        alt = {
            fg     = "#f2777a";
            bg     = "#2d2d2d";
            border = "#393939";
        };
        overflow = {
            fg     = "#f99157";
            bg     = "#2d2d2d";
            border = "#393939";
        };
        altoverflow = {
            fg     = "#f2777a";
            bg     = "#2d2d2d";
            border = "#393939";
        };
    };
};