use flake

export PATH="$HOME/.local/bin:$PATH"
export GRAFANA_TOKEN="$(sops --decrypt --extract '["grafana-claude-token"]' secrets.yaml 2>/dev/null)"
export GRAFANA_URL="http://grafana.service.home.arpa"
