**/.projectile
**/.direnv
/flakes/xmonad/dist-newstyle/
/flakes/xmobar-solomon/dist-newstyle/
/flakes/xmonad-solomon/dist-newstyle/
/flakes/taffybar-solomon/dist-newstyle/
/flakes/taffybar-solomon/result
/result
primary-user-password
/.direnv/
/installer/id_ed25519
/installer/id_ed25519.pub
/installer/result
