[submodule "flakes/xmonad-solomon/xmonad-contrib"]
	path = flakes/xmonad-solomon/xmonad-contrib
	url = git@github.com:ssbothwell/xmonad-contrib.git
[submodule "flakes/xmonad-solomon/xmonad"]
	path = flakes/xmonad-solomon/xmonad
	url = git@github.com:ssbothwell/xmonad.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:NixOS/nixpkgs.git
